@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    
    --mid-blue: #3b60bf;
    --mid-green: #4b5c6e;
    --main-green: #005661;
    --color-Colibri:#C4EEF2;
    --secondary-color2:#48CAD9;
    --color-Port-Goré:#1F2373;
    --color-Gris-français:#C9C9CB;
    --color-Bleuet: #4584EC;
    --color-Scooter: #45CADB;
    

    /* //Font // */
    --font-weight-normal: 300;
    --font-weight-secondary: 700;
    --font-size-normal: 18px;

}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row-reverse;
}

header > div {
    width: 50%;
    height: 100%;
}






