@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jua&family=Outfit:wght@100;200;300;400;500;600;700&display=swap');



:root {
    /* COLORS */
    --color-Sky-Blue: #75A3C8;
    --color-Light-Blue:#90CAF9;
    --color-Pale-Blue: #BCDFFD;
    --color-Pearl-Blue: #DDEFFD;
    --color-Dark-Slate-Gray: #263238;

    /* FONT  */
    --font-jua: 'Jua';
    --font-inter: 'Inter';
    --font-outfit: 'Outfit';
}